<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hola me llamo <%= datos.persona.nombre %> y tengo <%= datos.persona.edad %> años </p>
    <p>Resultado de la suma de x + y = <%= datos.variables.x + datos.variables.y %> </p>
    <ul>
        <% for( let i = 0; i < datos.lista.length; i++ ) { %>
            <li><%= datos.lista[i]%> </li>
        <% } %>
    </ul>
</body>
</html>